#jinja2: lstrip_blocks: True
Hostname,Group,INV-ID,Node/Fex,Mgmt-IP,Con1/CIMC,Con2,S/N,Rack
{% for host in groups['all'] %}
  {% set cell_group = hostvars[host].group_names | join(' ') %}
  {% set cell_inv = hostvars[host].inv | default('') %}
  {% set cell_node_fex = hostvars[host].node | default('') | string + hostvars[host].fex | default('') | string %}
  {% set cell_mgmt_ip = hostvars[host].ansible_host | default('') %}
  {% set cell_con1_cimc = hostvars[host].con1 | default('') + hostvars[host].cimc | default('') %}
  {% set cell_con2 = hostvars[host].con2 | default('') %}
  {% set cell_sn = hostvars[host].sn | default('') %}
  {% set cell_rack = hostvars[host].rack | default('') %}
{{ host }},{{ cell_group }},{{ cell_inv }},{{ cell_node_fex }},{{ cell_mgmt_ip }},{{ cell_con1_cimc }},{{ cell_con2 }},{{ cell_sn }},{{ cell_rack }}
{% endfor %}
